In [1]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from collections import Counter
import re
import statistics 
from statistics import mode

READ CSV

In [2]:
dfQLYS = pd.read_csv("QLYS.csv") 
pd.options.display.max_columns = None

In [3]:
dfRAX = pd.read_csv("RAX.csv") 
pd.options.display.max_columns = None

In [4]:
dfRNWK = pd.read_csv("RNWK.csv") 
pd.options.display.max_columns = None

In [5]:
dfRP = pd.read_csv("RP.csv") 
pd.options.display.max_columns = None

In [6]:
dfRWWI = pd.read_csv("RWWI.csv") 
pd.options.display.max_columns = None

RENAME COLUMNS

In [7]:
dfQLYS.columns = ['tweet_number','tweet']

In [8]:
dfRAX.columns = ['tweet_number','tweet']

In [9]:
dfRNWK.columns = ['tweet_number','tweet']

In [10]:
dfRP.columns = ['tweet_number','tweet']

In [11]:
dfRWWI.columns = ['tweet_number','tweet']

In [12]:
dfQLYS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531 entries, 0 to 530
Data columns (total 2 columns):
tweet_number    531 non-null int64
tweet           531 non-null object
dtypes: int64(1), object(1)
memory usage: 8.4+ KB

In [13]:
dfRAX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 2 columns):
tweet_number    2848 non-null int64
tweet           2847 non-null object
dtypes: int64(1), object(1)
memory usage: 44.6+ KB

In [14]:
dfRNWK.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 2 columns):
tweet_number    38 non-null int64
tweet           37 non-null object
dtypes: int64(1), object(1)
memory usage: 688.0+ bytes

In [15]:
dfRP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486 entries, 0 to 485
Data columns (total 2 columns):
tweet_number    486 non-null int64
tweet           486 non-null object
dtypes: int64(1), object(1)
memory usage: 7.7+ KB

In [16]:
dfRWWI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 2 columns):
tweet_number    46 non-null int64
tweet           45 non-null object
dtypes: int64(1), object(1)
memory usage: 816.0+ bytes

Merge columns using concat isnce all the column names are the same

In [17]:
df = pd.concat([dfQLYS, dfRAX,dfRNWK,dfRP,dfRWWI])

Playing around with the merged dataframe

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3949 entries, 0 to 45
Data columns (total 2 columns):
tweet_number    3949 non-null int64
tweet           3946 non-null object
dtypes: int64(1), object(1)
memory usage: 92.6+ KB

In [19]:
df.describe()

       tweet_number
count   3949.000000
mean    1093.796404
std      881.628011
min        1.000000
25%      302.000000
50%      874.000000
75%     1861.000000
max     2848.000000

In [20]:
df

    tweet_number                                              tweet
0              2                                  Qualys  Verifi...
1              3                                  Qualys  Verifi...
2              4                                  Qualys  Verifi...
3              5                                  Qualys  Verifi...
4              6                                  Qualys  Verifi...
5              7                                  Qualys  Verifi...
6              8                                  Qualys  Verifi...
7              9                                  Qualys  Verifi...
8             10                                  Qualys  Verifi...
9             11                                  Qualys  Verifi...
10            12                                  Qualys  Verifi...
11            13                                  Qualys  Verifi...
12            14                                  Qualys  Verifi...
13            15                                  Qualys  Verifi...
14            16                                  Qualys  Verifi...
15            17                                  Qualys  Verifi...
16            18                                  Qualys  Verifi...
17            19                                  Qualys  Verifi...
18            20                                  Qualys  Verifi...
19            21                                  Qualys  Verifi...
20            22                                  Qualys  Verifi...
21            23                                  Qualys  Verifi...
22            24                                  Qualys  Verifi...
23            25                                  Qualys  Verifi...
24            26                                  Qualys  Verifi...
25            27                                  Qualys  Verifi...
26            28                                  Qualys  Verifi...
27            29                                  Qualys  Verifi...
28            30                                  Qualys  Verifi...
29            31                                  Qualys  Verifi...
..           ...                                                ...
16            17                                  Rand Worldwide...
17            18                                  Rand Worldwide...
18            19                                  Rand Worldwide...
19            20                                  Rand Worldwide...
20            21                                  Rand Worldwide...
21            22                                  Rand Worldwide...
22            23                                  Rand Worldwide...
23            24                                  Rand Worldwide...
24            25                                  Rand Worldwide...
25            26                                  Rand Worldwide...
26            27                                  Rand Worldwide...
27            28                                  Rand Worldwide...
28            29                                  Rand Worldwide...
29            30                                  Rand Worldwide...
30            31                                  Rand Worldwide...
31            32                                  Rand Worldwide...
32            33                                  Rand Worldwide...
33            34                                  Rand Worldwide...
34            35                                  Rand Worldwide...
35            36                                  Rand Worldwide...
36            37                                  Rand Worldwide...
37            38                                  Rand Worldwide...
38            39                                  Rand Worldwide...
39            40                                  Rand Worldwide...
40            41                                  Rand Worldwide...
41            42                                  Rand Worldwide...
42            43                                  Rand Worldwide...
43            44                                  Rand Worldwide...
44            45                                  Rand Worldwide...
45            46                                                NaN

[3949 rows x 2 columns]

In [21]:
df["tweet"][168]

168                                    Qualys  Verifi...
168                                    Rackspace  Ver...
168                                    RealPage    <U...
Name: tweet, dtype: object

In [22]:
df['tweet'] = df['tweet'].astype('object')

Counter(" ".join(df["tweet"]).split()).most_common(10)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3949 entries, 0 to 45
Data columns (total 2 columns):
tweet_number    3949 non-null int64
tweet           3946 non-null object
dtypes: int64(1), object(1)
memory usage: 172.6+ KB

In [24]:
df.tweet.mode()

0                                       Qualys  Verifi...
1                                       Qualys  Verifi...
2                                       Qualys  Verifi...
3                                       Qualys  Verifi...
4                                       Qualys  Verifi...
5                                       Qualys  Verifi...
6                                       Qualys  Verifi...
7                                       Qualys  Verifi...
8                                       Qualys  Verifi...
9                                       Qualys  Verifi...
10                                      Qualys  Verifi...
11                                      Qualys  Verifi...
12                                      Qualys  Verifi...
13                                      Qualys  Verifi...
14                                      Qualys  Verifi...
15                                      Qualys  Verifi...
16                                      Qualys  Verifi...
17                                      Qualys  Verifi...
18                                      Qualys  Verifi...
19                                      Qualys  Verifi...
20                                      Qualys  Verifi...
21                                      Qualys  Verifi...
22                                      Qualys  Verifi...
23                                      Qualys  Verifi...
24                                      Qualys  Verifi...
25                                      Qualys  Verifi...
26                                      Qualys  Verifi...
27                                      Qualys  Verifi...
28                                      Qualys  Verifi...
29                                      Qualys  Verifi...
                              ...
3916                                    RealPage    <U...
3917                                    RealPage    <U...
3918                                    RealPage    <U...
3919                                    RealPage    <U...
3920                                    RealPage    <U...
3921                                    RealPage    <U...
3922                                    RealPage    <U...
3923                                    RealPage    <U...
3924                                    RealPage    <U...
3925                            Aaron Sullivan        ...
3926                            Adrian Otto           ...
3927                            Alan Bush            @...
3928                            Amanda McGuckinHager  ...
3929                            Codeup            @goc...
3930                            Drew Cox            @D...
3931                            Egle Sigler           ...
3932                            Jaret Chiles          ...
3933                            Judge Nelson Wolff    ...
3934                            Kyle Hunter           ...
3935                            Lew Moorman           ...
3936                            Network World         ...
3937                            Open Cloud Academy    ...
3938                            Rackspace            @...
3939                            Robert Chapa          ...
3940                            SecureLogix Corp.     ...
3941                            SiliconHillsNews      ...
3942                            Stephen Salas         ...
3943                            TechBloc            @S...
3944                            The Rivard Report     ...
3945                            VanL            @VanL ...
Length: 3946, dtype: object

In [25]:
def word_count(sentence):
    return len(sentence.split())

In [26]:
df.describe()

       tweet_number
count   3949.000000
mean    1093.796404
std      881.628011
min        1.000000
25%      302.000000
50%      874.000000
75%     1861.000000
max     2848.000000

In [27]:
df = df[df['tweet'].notnull()]

In [28]:
all_words = []
for line in list(df['tweet']):
    words = line.split()
    for word in words:
        all_words.append(word.lower())
    
    
Counter(all_words).most_common(10)

[('tweet', 7861),
 ('to', 6343),
 ('0', 5011),
 ('2015', 4877),
 ('like', 4830),
 ('conversation', 4816),
 ('retweet', 4279),
 ('more', 4081),
 ('retweeted', 3962),
 ('embed', 3947)]

In [29]:
df['token_tweet'] = df['tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))

D:\School\Spring2019\IntroPython\PythonInstall\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
tokenized_tweet = df['token_tweet'].apply(lambda x: x.split())

In [31]:
df['token_tweet'] = tokenized_tweet

D:\School\Spring2019\IntroPython\PythonInstall\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
df.head(1)

,tweet_number,tweet,token_tweet
0,2,Qualys Verifi...,"[Qualys, Verified, account, <U+200F>@qualys, 2..."

In [33]:
def hashtag_extract(x):
    hashtags = []
    # Loop over the words in the tweet
    for i in x:
        ht = re.findall(r"#(\w+)", i)
        hashtags.append(ht)

    return hashtags

In [34]:
df.tail()

,tweet_number,tweet,token_tweet
40,41,Rand Worldwide...,"[Rand, Worldwide, <U+200F>@RandWorldwide, 2015..."
41,42,Rand Worldwide...,"[Rand, Worldwide, <U+200F>@RandWorldwide, 2015..."
42,43,Rand Worldwide...,"[Rand, Worldwide, <U+200F>@RandWorldwide, 2015..."
43,44,Rand Worldwide...,"[Rand, Worldwide, <U+200F>@RandWorldwide, 2015..."
44,45,Rand Worldwide...,"[Rand, Worldwide, <U+200F>@RandWorldwide, 2015..."

In [35]:
df['token_tweet']=df['token_tweet'].apply(str)

D:\School\Spring2019\IntroPython\PythonInstall\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
HT_regular = hashtag_extract(df['token_tweet'])

In [37]:
HT_regular = sum(HT_regular,[])

In [43]:
words_to_count = (word for word in HT_regular if word[:1].isupper())
c = Counter(words_to_count)

In [48]:
print (c.most_common(10))

[('RWUC', 127), ('RackspaceSolve', 79), ('SanDiego', 29), ('NAAEduConf', 25), ('QSC15', 18), ('RealEstate', 18), ('DFW', 17), ('Multifamily', 17), ('RSAC', 16), ('Career', 14)]

In [49]:
def fit(self, X, y):
    self.n_class_items = {}
    self.log_class_priors = {}
    self.word_counts = {}
    self.vocab = set()

    n = len(X)
    grouped_data = self.group_by_class(X, y)

In [52]:
for c, data in df.items():
      self.n_class_items[c] = len(data)
      self.log_class_priors[c] = math.log(self.n_class_items[c] / n)
      self.word_counts[c] = defaultdict(lambda: 0)

      for text in data:
        counts = Counter(self.tokenizer.tokenize(text))
        for word, count in counts.items():
            if word not in self.vocab:
                self.vocab.add(word)

            self.word_counts[c][word] += count

NameError: name 'self' is not defined